<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button (click)="onGetAllProducts()" class="btn btn-outline-info btn-sm m-1">All</button>
    </li>
    <li>
      <button (click)="onGetSelectedProducts()" class="btn btn-outline-info btn-sm m-1">Selected</button>
    </li>
    <li>
      <button (click)="onGetAvailableProducts()" class="btn btn-outline-info btn-sm m-1">Available</button>
    </li>
    <li>
      <button (click)="onNewProduct()" class="btn btn-outline-info btn-sm m-1">New</button>
    </li>

  </ul>
  <ul class="navbar navbar-nav ml-auto">
    <li>
      <form #form="ngForm" class="form-inline" (ngSubmit)="onSearch(form.value)">
        <input ngModel name="keyword" class="form-check-input" type="text">
        <button class="btn btn-outline-info btn-sm">
          <span class="fa fa-search" aria-hidden="true"></span>
        </button>
      </form>
    </li>
  </ul>
</nav>


<!--Afficher tous les produit-->
<div class="container">
  <ng-container *ngIf="(products$ |async) as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      Loading...
    </ng-container>

    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      <div class="col-12 text-center">
        <div class="alert alert-danger">
          {{result.errorMessage}}
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Selected</th>
          <th>Available</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let product of result.data">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.selected}}</td>
          <td>{{product.available}}</td>
          <td>
            <button (click)="onSelect(product)"
                    [ngClass]="product.selected?'btn-success':' btn-danger'" class="btn btn-sm">
              <span *ngIf="product.selected">Unselect</span>
              <span *ngIf="!product.selected">Select</span>
            </button>
          </td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="onEditProduct(product)">
              <span class="fa fa-edit"></span>
            </button>
          </td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="onDeleteProduct(product)">
              <span class="fa fa-trash-o"></span>
            </button>
          </td>
        </tr>
      </table>
    </ng-container>

  </ng-container>
</div>

