<div class="container" *ngIf="productFormGroup">
  <!--<div *ngIf="">

  </div>-->
  <form [formGroup]="productFormGroup">

    <input type="text" formControlName="id" hidden>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name"
             [ngClass]="{'is-invalid':submitted && productFormGroup.controls.name.errors}">
      <div *ngIf="submitted && productFormGroup.controls.name.errors" class="invalid-feedback">
        <div *ngIf="productFormGroup.controls.name.errors.required">Le nom est requis !</div>
      </div>
    </div>

    <div class="form-group">
      <label>Price</label>
      <input type="text" class="form-control" formControlName="price"
      [ngClass]="{'is-invalid':submitted && productFormGroup.controls.price.errors}">
      <div *ngIf="submitted && productFormGroup.controls.price.errors" class="invalid-feedback">
        <div *ngIf="productFormGroup.controls.price.errors.min">Veuillez sair une somme supérieur ou égal à 100 F</div>
      </div>
    </div>


    <div class="form-group">
      <label>Quantity</label>
      <input type="text" class="form-control" formControlName="quantity"
             [ngClass]="{'is-invalid':submitted && productFormGroup.controls.quantity.errors}">
      <div *ngIf="submitted && productFormGroup.controls.quantity.errors" class="invalid-feedback">
        <div *ngIf="productFormGroup.controls.quantity.errors.min">Vous devez disposer au moins un produit à enregistrer </div>
      </div>
    </div>

    <div class="form-group">
      <label>Selected</label>
      <input type="checkbox" formControlName="selected" class="form-check">
    </div>

    <div class="form-group">
      <label>Available</label>
      <input type="checkbox" formControlName="available" class="form-check">
    </div>
    <button class="btn btn-success" (click)="onUpdateProduct()">Save</button>
  </form>
</div>
