<tr *ngIf="productInput">
  <td>{{productInput.id}}</td>
  <td>{{productInput.name}}</td>
  <td>{{productInput.price}}</td>
  <td>{{productInput.quantity}}</td>
  <td><span [ngClass]="productInput.selected?'fa fa-heart text-danger':'fa fa-heart-o'"></span></td>
  <td><span [ngClass]="productInput.available? 'fa fa-check-square text-success':'fa fa-square-o'" ></span></td>
  <td>
    <button (click)="onSelect(productInput)"
            [ngClass]="productInput.selected?'btn-success':' btn-danger'" class="btn btn-sm">
      <span *ngIf="productInput.selected">Unselect</span>
      <span *ngIf="!productInput.selected">Select</span>
    </button>
  </td>
  <td>
    <button class="btn btn-sm btn-warning" (click)="onEditProduct(productInput)">
      <span class="fa fa-edit"></span>
    </button>
  </td>
  <td>
    <button class="btn btn-sm btn-danger" (click)="onDeleteProduct(productInput)">
      <span class="fa fa-trash-o"></span>
    </button>
  </td>
</tr>
